# HOWTO: https://pre-commit.com/#usage
# pip3 install pre-commit
# pre-commit install

repos:
-   repo: https://github.com/ambv/black
    rev: stable
    hooks:
    - id: black
      language_version: python3.6
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
    - id: check-added-large-files
    - id: check-ast
    - id: check-merge-conflict
    - id: check-yaml
    - id: detect-private-key
      exclude: tests/conftest.py
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: flake8
      args:
        - --max-line-length=100
        - --per-file-ignores=files/packit.wsgi:F401,E402
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.670
    hooks:
    -   id: mypy
        args: [--no-strict-optional, --ignore-missing-imports]
