# HOWTO: https://pre-commit.com/#usage
# pip3 install pre-commit
# pre-commit install -t pre-commit -t pre-push

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.31.0
    hooks:
      - id: pyupgrade
  - repo: https://github.com/psf/black
    rev: 22.1.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        exclude: tests_recording/test_data/
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-added-large-files
        exclude: tests_recording/test_data/test_api/
      - id: check-ast
      - id: check-builtin-literals
      - id: check-docstring-first
      - id: check-executables-have-shebangs
        exclude: (files/bash-completion/packit|tests/data/)
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: detect-private-key
        exclude: tests/integration/conftest.py
      - id: end-of-file-fixer
        exclude: ^(tests/data/patches|tests/.+\.patch)
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: ^(tests/data/patches|tests/.+\.patch)
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        args:
          - --max-line-length=100
          - --per-file-ignores=files/packit.wsgi:F401,E402
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
      - id: mypy
        args: [--no-strict-optional, --ignore-missing-imports]
        additional_dependencies:
          [
            types-click,
            types-pkg_resources,
            types-requests,
            types-tabulate,
            types-Deprecated,
            types-PyYAML,
            types-cachetools,
          ]
  - repo: https://github.com/packit/pre-commit-hooks
    rev: 1da916777f5cc26ecf221b15e58ca51891d26d94
    hooks:
      - id: check-rebase
        args:
          - https://github.com/packit/packit.git
        stages: [manual, push]
