# HOWTO: https://pre-commit.com/#usage
# pip3 install pre-commit
# pre-commit install -t pre-commit -t pre-push

repos:
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.7.4
    hooks:
      - id: pyupgrade
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        exclude: tests_recording/test_data/*
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
        exclude: tests_recording/test_data/test_api/*
      - id: check-ast
      - id: check-merge-conflict
      - id: check-yaml
      - id: detect-private-key
        exclude: tests/integration/conftest.py
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
        args:
          - --max-line-length=100
          - --per-file-ignores=files/packit.wsgi:F401,E402
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.790
    hooks:
      - id: mypy
        args: [--no-strict-optional, --ignore-missing-imports]
  - repo: https://github.com/packit/pre-commit-hooks
    rev: a0ee4e8abebda41b5c2420a98d8251296df89e54
    hooks:
      - id: check-rebase
        args:
          - git://github.com/packit-service/packit.git
        stages: [manual, push]
