# HOWTO: https://pre-commit.com/#usage
# pip3 install pre-commit
# pre-commit install -t pre-commit -t pre-push

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.19.1
    hooks:
      - id: pyupgrade
  - repo: https://github.com/psf/black
    rev: 21.5b2
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.3.1
    hooks:
      - id: prettier
        exclude: tests_recording/test_data/
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-added-large-files
        exclude: tests_recording/test_data/test_api/
      - id: check-ast
      - id: check-merge-conflict
      - id: check-yaml
      - id: detect-private-key
        exclude: tests/integration/conftest.py
      - id: end-of-file-fixer
        exclude: tests/data/patches
      - id: trailing-whitespace
        exclude: tests/data/patches
  - repo: https://github.com/PyCQA/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        args:
          - --max-line-length=100
          - --per-file-ignores=files/packit.wsgi:F401,E402
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.812
    hooks:
      - id: mypy
        args: [--no-strict-optional, --ignore-missing-imports]
  - repo: https://github.com/packit/pre-commit-hooks
    rev: 169c6671b0175882f74acaf34ace2edf897dc375
    hooks:
      - id: check-rebase
        args:
          - git://github.com/packit-service/packit.git
        stages: [manual, push]
