# HOWTO: https://pre-commit.com/#usage
# pip3 install pre-commit
# pre-commit install -t pre-commit -t pre-push

repos:
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        exclude: tests_recording/test_data/
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        exclude: tests_recording/test_data/test_api/
      - id: check-ast
      - id: check-builtin-literals
      - id: check-docstring-first
      - id: check-executables-have-shebangs
        exclude: (files/bash-completion/packit|tests/data/)
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: detect-private-key
        exclude: tests/integration/conftest.py
      - id: end-of-file-fixer
        exclude: ^(tests/data/patches|tests/.+\.patch)
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: ^(tests/data/patches|tests/.+\.patch)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.292
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.5.1
    hooks:
      - id: mypy
        args: [--no-strict-optional, --ignore-missing-imports]
        additional_dependencies:
          [
            types-click,
            types-pkg_resources,
            types-requests,
            types-tabulate,
            types-Deprecated,
            types-PyYAML,
            types-cachetools,
          ]
  - repo: https://github.com/teemtee/tmt.git
    rev: 1.27.0
    hooks:
      - id: tmt-lint
  - repo: https://github.com/packit/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: validate-config # passes when packit not installed (e.g. in CI)
      - id: check-rebase
        args:
          - https://github.com/packit/packit.git
        stages: [manual, push]
