name: Prepare a new release
on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        description: Version number for the new release

jobs:
  prepare-release:
    # To not run in forks
    if: github.repository_owner == 'packit'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Prepare release content
        uses: packit/prepare-release@v0
        with:
          version: ${{ inputs.version }}
          specfiles: packit.spec
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          labels: release
          token: ${{ secrets.RELEASEBOT_GITHUB_TOKEN }}
          commit-message: Release ${{ inputs.version }}
          title: Release ${{ inputs.version }}
          body: Update the changelog and the specfile for release ${{ inputs.version }}.
          delete-branch: true
